/* General */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #455f7c;
    background-color: #fff;
}
#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
#header {
    box-sizing: border-box;
    padding: 30px 0;
    background-color: #122F50;
    width: 100%;
}
.header__elem {
    margin: 0 auto;
    max-width: 1186px;
}
#content {
    padding: 2.5rem 0;
    max-width: 1186px;
    margin: 0 auto;
}
.seperation {
    margin: 2.5rem auto;
    height: 1px;
    width: 90%;
    background: rgba(69,95,124,.2);
}
#footer {
    padding: .625rem 0;
    text-align: center;
    color: #fff;
    background-color: #0f2741;
}

/* Text */
h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: #0077d5;
} 
p {
    margin-top: 0.5rem;
}
p:first-of-type {
    margin-top: 0;
}

/* FizzBuzz list */
#list__block {
    display: flex;
    flex-wrap: wrap;
}
#list__block li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    padding: .625rem;
    margin: .625rem;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.08),0 5px 26px 0 rgba(67,94,131,.15);
}

/* Breakingpoints */
@media screen and (max-width: 1280px) {
    .header__elem {
        margin-left: 1rem;
    }
    #content {
        margin: 0 1rem;
    }
}

@media screen and (max-width: 768px) {
    #list__block {
        justify-content: flex-start;
    }
}